<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.newproyectjmb" 
	android:versionCode="1" 
	android:versionName="1.1" >
	<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="19" />
<!-- 	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> -->
	<application android:icon="@drawable/icon" android:label="@string/aplict_name" 
		 android:debuggable="true">

		<activity android:name="com.jmbdh.MenuActivity" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" android:screenOrientation="landscape" 
				    android:configChanges="keyboardHidden|orientation|screenSize"/>
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.jmbdh.GameActivity" >

			<intent-filter>
				<action android:name="android.intent.action.ACTION_DEFAULT" android:screenOrientation="landscape"
				    android:configChanges="keyboardHidden|orientation|screenSize"/>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
				<activity android:name="com.jmbdh.Puntuacion" >

			<intent-filter>
				<action android:name="android.intent.action.ACTION_DEFAULT" android:screenOrientation="landscape"
				    android:configChanges="keyboardHidden|orientation|screenSize"/>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name="com.jmbdh.PuntuacionFragment" android:theme="@style/Points.Dialog">>

			<intent-filter>
				<action android:name="android.intent.action.ACTION_DEFAULT" android:screenOrientation="landscape"
				    android:configChanges="keyboardHidden|orientation|screenSize"/>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
	</application>

	
	


</manifest> 